---
import { getCollection } from "astro:content";

import Layout from "@/layouts/Layout.astro";
import SocialLinks from "@/components/SocialLinks.astro";
import PostCard from "@/components/PostCard.astro";
import ProjectCard from "@/components/ProjectCard.astro";
import Link from "@/components/shared/Link.astro";
import convertAsteriskToStrongTag from "@/utils/convertAsteriskToStrongTag";

import presentation from "@/data/presentation";
import projects from "@/data/projects";

const posts = await getCollection("posts");
---

<Layout>
  <main class="flex flex-col gap-20">
    <article class="flex flex-col gap-8" transition:name="myArticle">
      <div class="w-32 h-32">
        <svg
          fill="#ff00ff"
          height="100%"
          width="100%"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          viewBox="0 0 485 485"
          xml:space="preserve"
          id="mySvg"
          transition:name="mySvg"
        >
          <g>
            <path d="M0,0v485h485V0H0z M455,455H30V30h425V455z"></path>
            <path
              d="M144.944,391.05l98.171-51.266l98.665,50.305l-18.42-109.207l78.333-78.292l-109.555-16.229l-50.254-98.692l-49.288,99.178
 L83.206,204.145l79.093,77.524L144.944,391.05z M146.794,224.463l65.779-10.401l29.638-59.638l30.219,59.346l65.877,9.758
 l-47.103,47.079l11.076,65.669l-59.329-30.25l-59.032,30.827l10.435-65.774L146.794,224.463z"
            ></path>
          </g>
        </svg>
      </div>
      <h1 class="text-3xl text-neutral-100">{presentation.title}</h1>
      <p
        class="max-w-[60ch] leading-6"
        set:html={convertAsteriskToStrongTag(presentation.description)}
      />
      <SocialLinks />
    </article>

    <article class="flex flex-col gap-8">
      <h2 class="text-3xl text-neutral-100">Checklist</h2>

      <ul class="list-disc pl-5">
        <li class="line-through">Darkmode</li>
        <li>Variable font animation</li>
        <li>spline 3D for 404 page</li>
        <li>GSAP interaction (scrollTrigger)</li>
        <li>Some Codrops inspiration maybe?</li>
        <li>Testimonials - "Quotes"
          <ul class="pl-2">
            <li class="text-red-600 line-through">Ozden - Senior Product Designer</li>
            <li class="text-red-600 line-through">Joan - Head of Design</li>
            <li class="text-red-600">Alberto - Design Lead</li>
            <li class="text-blue-600">Miguel - CTO</li>
            <li class="text-blue-600">Paco - Tech Guru</li>
            <li class="text-blue-600">Alessandro - Senior Software Developer</li>
            <li class="text-yellow-500  line-through">Christophe - Marketing & Growth Lead</li>
            <li class="text-yellow-500">Brian - Founder & Managing Director</li>
            <li class="text-yellow-500">Martine - CMO</li>
            
          </ul>          
        </li>
        <li>
          Mention awards<br>
          https://www.awwwards.com/sites/payvision<br>
          https://www.adg-fad.org/es/laus/proyecto/mendesaltaren
        </li>
        <li>Add - CV</li>
        <li>Pento box menu on user scroll - with image canvas anim + time and weather in Madrid - Navigation</li>
      </ul>
    </article>

    
    <div>

      <style>
        canvas {
          width: 100%;
          height: 100%;
          display: block;
        }
      </style>
      
      <script>
        var img = new Image();
        img.onload = start;
        img.src = "/images/test.png";

        function start() {
          var canvas = document.querySelector("canvas");
          var ctx = canvas.getContext("2d");

          // Add variables to store mouse position
          var clientX = 1;
          var clientY = 1;
          var targetX = 1;
          var targetY = 1;

          canvas.addEventListener("mousemove", function (evt) {
            targetX = evt.clientX / canvas.width;
            targetY = evt.clientY / canvas.height;
          });

          function mix(a, b, l) {
            return a + (b - a) * l;
          }

          function upDown(v) {
            return Math.sin(v) * 0.5 + 0.5;
          }

          function render(time) {
            time *= 0.0002;

            resize(canvas);

            // Smoothly update clientX and clientY towards targetX and targetY
            const smoothingFactor = 0.05; // adjust between 0 and 1 for smoother effect
            clientX = mix(clientX, targetX, smoothingFactor);
            clientY = mix(clientY, targetY, smoothingFactor);

            var t1 = time;
            var t2 = time * 0.37;

            for (var dstX = 0; dstX < canvas.width; ++dstX) {
              var v = dstX / canvas.width;

              var off1 =
                Math.sin((v + clientX) * mix(3, 10, upDown(t1))) * 300;
              var off2 = Math.sin((v + clientY) * mix(3, 12, upDown(t2)));
              var off = off1 + off2;

              var srcX = (dstX * img.width) / canvas.width + off;

              if (srcX < 1) {
                srcX = -srcX;
              } else if (srcX > img.width - 1) {
                srcX = img.width - (srcX - img.width);
              }

              ctx.drawImage(
                img,
                srcX,
                0,
                1,
                img.height,
                dstX,
                0,
                1,
                canvas.height
              );
            }

            requestAnimationFrame(render);
          }
          requestAnimationFrame(render);

          function resize(canvas) {
            var width = canvas.clientWidth;
            var height = canvas.clientHeight;
            if (width != canvas.width || height != canvas.height) {
              canvas.width = width;
              canvas.height = height;
            }
          }
        }
      </script>
      
      <canvas width="898" height="554"></canvas>

    </div>

    <article class="flex flex-col gap-8">
      <h2 class="text-3xl text-neutral-100">Ideas</h2>

      <ul class="list-disc pl-5">
        <li>https://loveandmoney.agency/</li>
        <li>https://locomotive.ca/en/work</li>
        <li>https://editorialnew.com/</li>
        <li>https://pangrampangram.com/</li>
        <li>https://webflow.com/made-in-webflow/website/nf-daily-07</li>
        <li>https://minimal.gallery/</li>
        <li>https://www.darkmodedesign.com/</li>
        <li>https://refero.design/</li>
        <li>https://reome.com/ - footer</li>
        <li>https://www.studiogd.dk/</li>
        <li>https://stackoverflow.com/questions/39150461/distorting-an-image-on-a-single-axis-with-javascript-and-canvas</li>
        <li>https://cydstumpel.nl/</li>
        <li>-------------------------------------</li>
        <li>https://codepen.io/barakhov/pen/abXgdzj</li>
        <li>https://codepen.io/barakhov/pen/OJdYpdx</li>
        <li>https://codepen.io/barakhov/pen/RwEwppX</li>
        <li>https://codepen.io/barakhov/pen/KKRWRdj</li>
        <li>https://codepen.io/barakhov/pen/GBRmOY</li>
        <li>https://codepen.io/barakhov/pen/gzxzqm</li>
        <li>https://codepen.io/barakhov/pen/NYyNeP</li>
        <li>https://codepen.io/barakhov/pen/jzbGeK</li>
        <li>https://codepen.io/barakhov/pen/yVLvyY</li>
        <li>https://codepen.io/barakhov/pen/wzPjZN</li>

      </ul>
    </article>

    <article class="flex flex-col gap-8">
      <header class="flex w-full flex-row justify-between gap-2">
        <h2 class="text-lg text-neutral-100">Latest posts</h2>
        <Link href="/posts" label="See all posts" isUnderline target="_self" />
      </header>
      {posts.length === 0 && <p>Soon, stay connected 👀...</p>}

      <section
        class="flex flex-col gap-4 md:flex-row md:flex-wrap"
        aria-label="Latest blog posts"
      >
        {
          posts.length !== 0 &&
            posts
              .slice(0, 2)
              .map((post) => (
                <PostCard
                  publishedAt={post.data.publishedAt}
                  title={post.data.title}
                  description={post.data.description}
                  slug={post.slug}
                />
              ))
        }
      </section>
    </article>

    <article class="flex flex-col gap-8">
      <header class="flex w-full flex-row justify-between gap-2">
        <h2 class="text-lg text-neutral-100">
          Selected projects ({projects.length})
        </h2>
      </header>
      {projects.length === 0 && <p>Oops, no projects yet</p>}

      <section class="flex flex-col gap-4" aria-label="Selected projects">
        {
          projects.length !== 0 &&
            projects.map((project) => <ProjectCard {...project} />)
        }
      </section>
    </article>

    <article class="flex flex-col gap-8">
      <header class="flex w-full flex-row justify-between gap-2">
        <h2 class="text-lg text-neutral-100">Get in touch</h2>
      </header>
      <p>
        Email me at <Link
          href={`mailto:${presentation.mail}`}
          label={presentation.mail}
        /> or follow me via my social links.
      </p>

      <SocialLinks />
    </article>

    <article>
      <p>
        No data is stored or collected on this website.
        <br />
        Site version. 1.0.0 The website uses Manrope font. Created with Astro, Madrid
        2025.
        <br />
        All claims and statements reflect subjective observations.
      </p>
    </article>
  </main>
</Layout>
